.calendarCont {
  margin: 0 0 40px 0;
}
.button {
  padding: 6px 10px;
  text-transform: uppercase;
}
.buttonActive {
  composes: button;
  background-color: green;
}
/* .myTest {
  background: linear-gradient(135deg, #f7ff00, #db36a4);
}
.activvve {
  background: #fff;
} */
